.about-page {
  width: 100%;
}

.about-page img {
  width: 400px;
  height: auto;
}

.about-page div {
  margin: 1.5rem 0;
}

.about-page .info {
  width: 40%;
}

.description-card-1 {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  padding-top: 5.5rem;
  padding-right: 5.5rem;
}

.description-card-2 {
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  padding-bottom: 5.5rem;
  padding-left: 5.5rem;
  text-align: right;
}

.about-page .description {
  width: 65%;
}

ul {
  list-style: none;
}

li {
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #dfebec;
  border-radius: 10px;
}

li > * {
  color: #4caf50;
  margin-right: 1rem;
}

.benefits-container {
  width: 100%;
}

.benefits-cards div {
  text-align: center;
}

/* media queries */

@media screen and (max-width: 1450px) {
  .description-card-1 {
    padding-top: 3rem;
    padding-right: 3rem;
  }

  .description-card-2 {
    padding-bottom: 3rem;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 1350px) {
  .description-card-1 {
    padding-top: 2rem;
    padding-right: 2rem;
  }

  .description-card-2 {
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .description-containers {
    flex-direction: column;
  }

  .description-card-1,
  .description-card-2 {
    border: none;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .about-page .info {
    width: 90%;
  }

  .description-card-1,
  .description-card-2 {
    border: none;
    padding: 0;
  }

  .description-containers {
    flex-direction: column;
  }

  .description-card-2 {
    text-align: left;
  }

  .benefits-cards {
    flex-direction: column;
  }
}
