.login-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.login-page img {
  margin-top: 20vh;
  width: 200px;
}
