.favorites-page {
  position: relative;
}

.favorites-page img {
  max-height: 150px;
}

.favourites-container {
  width: 100%;
}

.delete-btn {
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .favorite-product {
    flex-direction: column;
  }

  .favorite-product-info {
    flex-direction: column;
  }

  .favorite-product-btns {
    justify-content: center;
  }
}
