.favorites-page {
  position: relative;
}

.favorites-page img {
  max-height: 150px;
}

/* .favourites-container {
  width: 100%;
} */

.delete-btn {
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .favorite-product {
    flex-direction: column;
  }

  .favorite-product-info {
    flex-direction: column;
  }

  .favorite-product-btns {
    justify-content: center;
  }

  .favorite-product-btns button:last-child {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .favorite-product-btns {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .favorite-product-btns button:last-child {
    margin-left: 0 !important;
  }
}
