footer {
  background-color: #46a049;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

footer svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  footer > div {
    flex-direction: column;
  }

  footer .footer-group {
    margin-bottom: 1.5rem;
  }
}
